/* shared styles */
body
{
    width:100%;
    margin:0;
    padding:0;
}
.open-sans-text {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
.color_green
{
    color:#30B868;
}
#buttn
{
  border: 1px solid ;
  border-radius: 4px;
  padding: 16px 12px;
  transition:color 0.3s ,box-shadow 0.3s ,transform 0.3s;
  font-size: 18px;
}
#buttn:hover,a:hover
{
    background-color: lime;
    border-radius: 4px;
    box-shadow: 0 8px 20px rgba(16, 14, 39, 0.35);
    transform: translateY(-2px);
}
a
{
    transition:color 0.3s ,box-shadow 0.3s ,transform 0.3s;
}
/* special styles */
.navbar
{
    width:100%;
    max-width:1600px;
    background-color:#FFFFFF;
    padding:16px 120px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo_section
{
    width:139px;
}
.navbar .nav_links
{
    display:flex;
    width:365px;
    gap: 32px;
    list-style: none;
}
.navbar .nav_links a
{
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: 500;
}
.navbar button
{
    background-color:  #469165;
    color: #FFFFFF;
    font-weight: 600;
}
header .banner
{
    width:100%;
    max-width: 1600px;
    background:url(./assets/hero-bg.png);
    padding:70px 120px 134px;
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-right: 0px;
}
.banner .header_content
{
   width: 100%;
   max-width: 1360px;
   text-align: center;
   margin: 0 auto;
}
.banner .header_content .headeer_text p
{
   color:#FFFFFF;
   font-size: 18px;
   margin: 0 auto;
   margin-bottom: 32px;
}
.banner .header_content .headeer_text .notice
{
    color:#469165;
    background-color: #FFFFFF;
    border-radius:1000px;
    padding:8px 12px;
    width:229px;
    text-align: center; 
    margin: 0 auto;
    margin-bottom: 16px;
}
.banner .header_content .headeer_text h1
{
    width:100%;
    max-width: 770px;
    margin:0 auto;
    margin-bottom: 16px;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color:#FFFFFF
}
.banner .header_content .header_buttons
{
   gap: 16px;
}
.banner .header_content .header_buttons .header_button1
{
color:#FFFFFF;
background-color: #30B868;
width:251px;
padding:12px 16px;
}
.banner .header_content .header_buttons .header_button2
{
    color:#FFFFFF;
    background-color: transparent;
    border: 5px solid #FFFFFF;
    width:198px;
    padding:12px 16px;
}